.map {
  height: 100%;
  width: 100%;
}

.leaflet-container {
  width: 100%;
  height: 100%;
}

.leaflet-popup-content-wrapper {
  border: 3px solid #ff0055;
  background-color: #333;
  color: #ccc;
}
